[flake8]
max-line-length = 88
extend-ignore = E203, W503, Q000, D100
exclude = .git,__pycache__,build,dist,*.egg-info, fraud_detection/main.py
per-file-ignores =
    # Ignore missing docstrings in tests
    tests/*:D100,D101,D102,D103
    # Ignore missing docstrings in __init__ files
    */__init__.py:D104
